<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css">
    </head>
    <body>
        <div class="container-fluid border bg-dark">
            <div class="row">
                <div class="col-2">
                    <img src="/static/img/youenn-pierre-justin-low-resolution-logo-white-on-transparent-background - Copy.png" alt="logo" class="img-fluid">
                </div>
                <div class="col-6">
                    <p class="text-white">
                        Projets
                    </p>
                </div>
            </div>
        </div>
        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>